.myModal {
    opacity: 0;
    display: none; 
    color: White;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s forwards;
  }
  .myModal-content {
    position: relative;
    margin: auto;
    border-radius: 1.5vh;
    background-color: #212121;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .imageFitter
  {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }