:root
{
  --StandardGray-0: #2B3036;
  --StandardGray-1: #303030;
  --StandardGray-2: #212121;
  --StandardGray-3: #1c1c1c;
  --StandardGray-4: #0B0B0D;
}
.roundedCorners
{
  border-radius: 5px;
  border: solid 1px var(--StandardGray-4);
}
.mainVisualElement
{
    background-color: var(--StandardGray-0);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 20px;
}
::-webkit-scrollbar
{
  background-color: var(--StandardGray-1);
  width: 0.5vw;
}
::-webkit-scrollbar-thumb
{
  background-color: var(--StandardGray-4);
}